*{
    box-sizing: border-box;
}
.fullcenter{
    background-color: aquamarine;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#formulario{
    background-color: aqua;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}